/server/__pycache__/
/server/*.py[cod]
/server/*$py.class

/server/venv/

/server/output/

/server/.vscode/
/server/.idea/

/server/.DS_Store
/server/Thumbs.db

/server/input.jpeg
/server/input2.jpeg

commands.txt
